body {
  background-color: red;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;

}
h1{
  color: brown;
  font-size: 25px;
} 

p{font-size: 25px;

}
header{
  border-bottom: solid yellow;
  margin: 2px;
  padding: 10px;
  color:darkorange;
} 

 .chamada{
  background: rgb(red, green, blue);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
 } 
  .chamada.texto{
    margin-right: 8px;
  }
  img{
    height: 200px;

  }
  .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
  } 
  .categoria{
    padding-left: 20px;
    padding-right: 20px;
  } 